@charset "UTF-8";

@font-face{
    font-family: 'Courier Prime';
    src: url local('\fonts\CourierPrime-Regular.ttf') format('truetype');
    src: url local('\fonts\CourierPrime-Bold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
    background-color:tan;
    font-family: 'Courier Prime', monospace;
}

.infotext-container h2{
    text-align: center;
    margin: 4% auto 2% auto;
    font-weight: bold;
}

.infotext-container p{
    max-width: 50rem;
    text-align: justify;
    margin: auto;
}

.button-div{
    margin: 1% auto 1% auto;
    text-align: center;
}

.spinner-div{
    text-align: justify;
    margin: auto;
    max-width: 10rem;
}

.error-message-container{
    text-align: justify;
    margin: auto;
    max-width: 20rem;
}

.error-page-container {
    text-align: center;
    margin: 5% auto;
}